.subtitle {
    display: flex;
    justify-content: center;
}

.profile-name {
    display: flex;
    justify-content: center;
}

.create-post {
    transform: translateY(1250%);
}

.create-post:hover {
    cursor: pointer;
}

.profile-container {
    transform: translateY(50%);
    display: flex;
    flex-direction: row;
}