.info-container {
    border: 1px solid white;
    display: flow-root;
}

.animal-header {
    padding-bottom: 4rem;
}

#pageImg {
    float: left;
    height: 30vh;
    width: 30vw;
    transform: translateX(50%);
}