@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-image: url('./vecteezy_underwater-ocean-background-black-silhouettes-swimming-sea_7952970-1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.formPanel {
  position: relative;
  width: 400px;
  height: 300px;
  background: transparent;
  border: 1px rgba(255, 255, 255, 0.593) solid;
  border-radius: 3px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.165);
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  animation: fadeInLogin 0.5s ease-in;
}

input {
  border: none;
  padding-left: 3px;
  display: flex;
}

.login-header {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
}

.password {
  display: flex;
  justify-content: center;
  margin: 1px;
}

.login-button {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  background: none;
  border: none;
  font-size: medium;
  transition: transform .2s;
  color: white;
}

.btn:hover {
  transform: scale(1.3);
}

@keyframes fadeInLogin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}